<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Create User</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> Welcome back {{username}}.</h2>
    </div>
    {% comment %} {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Post creation failed</h4>
        <p>You entered an undefined student id.</p>
    </div>
    {% endif %} {% endcomment %}
    
    

    <a href="{%url 'index' %}"> <p style="text-align:center">Logout</p></a>
</body>
</html>