{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  	<title>Courses</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        table, th, td {
            border: 1px solid;
        }
        .center {
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }
        form { 
            margin: 0 auto; 
            width:250px;
        }
    </style>
</head>
<body>
    <div class="wrapper">
        <div style="background-color:lavender; !important" class="jumbotron text-center bg-primary">
            <h2> List of the Courses that Contains the Keyword {{course_id}}</h2>
    </div>
    {% if action_fail %}
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">No courses can be found!</h4>
        <p> Please check all of the information you have provided. </p>
    </div>
    {% endif %}
    <div class="container">
        <table class="center">
            <colgroup>
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
            </colgroup>
            <tr>
                <th>Course ID</th>
                <th>Name</th>
                <th>Instructor Surname</th>
                <th>Department</th>
                <th>Credit</th>
                <th>Clasroom ID</th>
                <th>Time Slot</th>
                <th>Quota</th>
                <th>Prerequisite</th>

            </tr>
            {% for row in result %}
            <tr>
                {% for value in row %}
                <td>
                    {{value}}
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <br>
    <a href="{%url 'homePage' %}"> <p style="text-align:center">Go Back</p></a>

</body>
</html>